.menuItemCard{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 16px;
    cursor: pointer;
}
.menuItemCard:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoppingCartIcon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;

}
@media screen and (max-width: 768px) {
    .menuItemCard {
        margin-bottom: 20px;
        margin: 10px;
    }
    
}