.menuItemCard{
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 16px;
    cursor: pointer;
}
.menuItemCard:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.shoppingCart{
    background-color: #FFF3EA;
     border-radius: 50%;
}
.shoppingCartIcon:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.menuItemCol{
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        /* overflow-x: hidden; */

}
.menuItemCol::-webkit-scrollbar {
    display: none;
    width: 8px;
}
.cartCol {
    padding-left: 0;
    padding-right: 0;
  }
  
.cartWrapper{
    position: sticky;
    top: 100px;
}
.cartColMobile{
    display: none;
}
.filterCol{
    text-align: right;
}
@media screen and (max-width: 768px) {
    .menuItemCard {
        margin-bottom: 20px;
        margin: 10px;
    }
    .cartCol {
        display: none;
    }
    .cartColMobile{
        display: block;
        position: sticky;
        top: 20px;
        align-self: flex-start;
    }
    .filterCol {
        display: block !important;
        text-align: left;
      }
    
}
  
  